if SHIELD_SOFLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# OLED tylko na central
config ZMK_DISPLAY
    default y

config I2C
    default y

config SSD1306
    default y

config DISPLAY
    default y

# RGB
config ZMK_RGB_UNDERGLOW
    default y

# Encoder
config EC11
    default y

endif # SHIELD_SOFLE_LEFT


if SHIELD_SOFLE_RIGHT

config ZMK_SPLIT
    default y

# ❌ BRAK DISPLAY na prawej!

# RGB
config ZMK_RGB_UNDERGLOW
    default y

# Encoder
config EC11
    default y

endif # SHIELD_SOFLE_RIGHT
