if SHIELD_SOFLE0FT_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_DISPLAY
    default y

config DISPLAY
    default y

config I2C
    default y

config SSD1306
    default y

config ZMK_RGB_UNDERGLOW
    default y

config EC11
    default y


endif # SHIELD_SOFLE0FT_LEFT


if SHIELD_SOFLE0FT_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
    default y

config DISPLAY
    default y

config I2C
    default y

config SSD1306
    default y

config ZMK_RGB_UNDERGLOW
    default y

config EC11
    default y


endif # SHIELD_SOFLE0FT_RIGHT
